.Post{
    display:  -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin: 30px;
    box-shadow: 0 0 10px slategray;
    height: 200px;
    overflow: hidden;
}

.Post__image{
    flex: 0.3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Post__info{
    flex: 1;
    padding: 15px 30px;
}